/GroundUP/Debug/*.tlog
/GroundUP/Debug/*.obj
/GroundUP/Debug/*.manifest
/GroundUP/Debug/*.res
/GroundUP/Debug/*.lastbuildstate
/GroundUP/Debug/*.log
/GroundUP/Debug/*.rc
/GroundUP/Debug/*.idb
/GroundUP/Debug/*.pdb
/GroundUP/*.vcxproj
/GroundUP/*.filters
/GroundUP/*.user
/ConsoleApplication1/Debug
/ConsoleApplication1/.vs/ConsoleApplication1/v16
/ConsoleApplication1/ConsoleApplication1/Debug
/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.user
/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1.vcxproj
*.sln
/.vs/Code-Snippets/v16/ipch/AutoPCH/1b391954c41da28a
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Code-Snippets/v16/Browse.VC.opendb
/.vs/Code-Snippets/v16/Browse.VC.db
